.center_container {
  display:flex;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  height: 50%;
  align-items: center;
}

#logo {
  height: 7vh;
  width: 7vw;
}

.card{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.dropdown_resources{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.dropdown_profile{
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url('./assets/mybackground.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.forum_topbar {
  margin-bottom: 1vh;
  border-radius: 5px;
  background-color: #A9A9A9;
}

.login_stack {
  justify-content: center;
}

.login_form {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.create_account_form {
  margin-bottom: 1vh;
}

.forum_container {
  justify-items: left;
  height: 1;
}

.forums_card {
  background-color: #f0f0f0;
  border-color: black;
  overflow-y: scroll;
  max-height: 1000px;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.4);
  padding-bottom: 5vh;
}

.card-title {
  color:navy
}

.forum_card {
  margin-top: 2ch;
  margin-left: 4ch;
  margin-right: 4ch;
  margin-bottom: 0;
  text-align: center;
  border-color: black;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.4);
}

.home_topbar {
  background-color: navy;
  box-shadow: 0px 22px 17px -3px rgba(0,0,0,0.3);
}

.forum_card_body {
  margin: 2ch;
  text-align: left;
}

.forum_stack {
  margin-top: 0;
  justify-content: center;
  margin-left: 5ch;
  margin-right: 5ch;
}

.comment_card {
  margin-top: 0;
  margin-bottom: 1ch;
  width: 100%;
  border-color: black;
}

.comment_post_body {
  text-align: left;
  margin-bottom: 1ch;
  margin-left: 2ch;
  margin-right: 2ch;
  margin-top: 2ch;
}

.post_card {
  margin-top: 0ch;
  margin-bottom: 0;
  width: 100%;
  border-color: black;
}

.tag {
  cursor: pointer;
  margin-left: 1.8ch;
}

.forum_author_name {
  margin-left: 0.5ch;
  margin-right: 0.5ch;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three items per row */
  gap: 10px;
}

.create_post_buttons {
  margin-top: 1ch;
}

.forum_post_body {
  text-align: left;
  margin-bottom: 2ch;
  margin-left: 2ch;
  margin-right: 2ch;
  margin-top: 1ch;
}

.card_col {
  margin-bottom: 0.5ch;
}

.forum_delete_button {
  margin-bottom: 0;
  margin-left: 1.8ch;
  margin-top: 1ch;
  margin-bottom: 1.5ch;
}

.response_card {
  margin-top: 1ch;
  margin-bottom: 1ch;
  width: 90%;
  border-color: black;  
}

.response_original_text_card {
  margin-top: 0ch;
  margin-bottom: 2ch;
}

.outline_button {
  margin-bottom: 1.5ch;
  margin-left: 1.8ch;
  margin-top: 1ch;
}

.essay_form_comp {
  margin-bottom: 1ch;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.3);
}

.forum_post_card {
  background-color: #f0f0f0;
  margin-top: 2ch;
  margin-left: 4ch;
  margin-right: 4ch;
  margin-bottom: 0;
  text-align: center;
  border-color: black;
}

.comment_button {
  width: 10%;
  margin-bottom: 0;
  margin-left: 1.8ch;
  margin-top: 1ch;
  margin-bottom: 1.5ch;
}

.back_to_forums_button {
  width: fit-content;
  margin-left: 1ch;
  margin-bottom: 1ch;
  margin-top: 1ch;
}

.sidebar_card {
  margin-top:0;
  margin-bottom: 0;
  height: 100%;
  background-color: navy;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.4);
  overflow-y: scroll;
  max-height: 700px;
}

.topbar_links {
  font-weight: bold;
  color: white;
}

.topbar_links:hover {
  text-decoration: underline;
  color: white;
}

.topbar_links.nav-link.active {
  color:white;
}

.dropdown_profile:hover {
  color: white;
  text-decoration: underline;
}

.bottom_border {
  background-color: navy;
}

.message_post_card {
  margin-top: 0ch;
  margin-bottom: 0;
  width: 100%;
  border-color: black;
}

.navbar-toggler {
  background-color: white;
}

.add_friend_button {
  margin-top: 0.2ch;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.2);
}

.friend_card {
  border-color: black;
  margin-top: 1ch;
  margin-bottom: 1ch;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.2);
}

.friend_card_button {
  margin-top: 1ch;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.2);
}

.friend_card_body {
  padding-top: 0;
  padding-bottom: 3%;
}

.btn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 1.5cap;
}

.tag_class {
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.3);
}

.break_line {
  background-color: black;
  width: 100%;
  height: 3px;
  margin-top: 0ch;
  margin-bottom: 0ch;
}

.user_buttons {
  margin-right: 1ch;
  margin-left: 1ch;
  margin-bottom: 1ch;
}

.friend_req_card {
  border-color: black;
  margin-top: 1ch;
  margin-bottom: 1ch;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.2);
}

.testing {
  color: white;
}

.chat_card {
  background-color: #6c757d;
  border-color: black;
  max-height: 1000px;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.4);
  min-height: 500px;
}

.friends_card {
  background-color: #f0f0f0;
  border-color: black;
  overflow: scroll;
  max-height: 1000px;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.4);
  padding: 2vh;
}

.sidebar_hr {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.dropdown-toggle {
  background-color: navy;
  border-color: navy;
}

.dropdown-menu {
  padding: 2vh;
}

.forum_hr {
  color: black;
  margin-top: 1ch;
  margin-bottom: 1ch;
}
.chat_card {
  background-color: #f0f0f0;
  border-color: black;
  overflow-y: hidden;
  max-height: 1000px;
  box-shadow: 0px 30px 26px -3px rgba(0,0,0,0.4);
  width: 100%;
}